*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Yantramanav", System, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
body {
  font-family: "Yantramanav", System, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #fefefe;
  color: #1f1f1f;
  margin: 0;
}

a {
  text-decoration: none;
  color: #127eba;
  cursor: pointer;
}
:focus,
a:active,
a:hover {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Domine, System, serif;
  font-weight: 400;
}

h1 .italic,
h2 .italic,
h3 .italic,
h4 .italic,
h5 .italic,
h6 .italic {
  font-weight: 400;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 52em) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.75rem;
}

@media (min-width: 52em) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 52em) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin: 0 0 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem;
}
.mt1 {
  margin-top: 1rem;
}
@media (max-width: 40em) {
  .xs-hide {
    display: none !important;
  }
}

@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 0.875rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 76rem;
}

.btn {
  padding: 0.75rem 1rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.125;
  text-align: center;
  text-decoration: none;
  border: 0.0625rem solid transparent;
  border-radius: 4px;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: all 0.25s ease;
}
.btn {
  font-family: Yantramanav, System, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  height: auto;
  border: 0.0625rem solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn-primary {
  background-color: #127eba;
  color: #fefefe;
}
.btn-block {
  display: block;
  max-width: none;
}
.btn-blue-darker {
  background-color: #03324a;
  color: #fff;
}
.btn-small {
  padding: 0.65rem 1rem;
  font-size: 0.875rem;
}

/* --header styles-- */
.header {
  width: 100%;
  color: #085177;
  transition: all 0.35s ease;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 -0.25rem 1.5rem 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 52em) {
  .header {
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
      0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
    color: #085177;
  }
}
/* Top header bar */
.header-top {
  overflow: hidden;
  background-color: #222222;
}

.header .header-top .container {
  display: flex;
  height: 3.125rem;
  padding: 0 0 0 0.75rem;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 52em) {
  .header .header-top > .container {
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.logo {
  position: relative;
  display: block;
  padding-left: 2.125rem;
  line-height: 1;
  color: #1f1f1f;
}
@media (min-width: 52em) {
  .logo {
    padding-left: 2.75rem;
  }
}
.logo-text {
  display: block;
  font-size: 1.25rem;
  white-space: nowrap;
  color: inherit;
}
@media (min-width: 52em) {
  .logo-text {
    font-size: 1.75rem;
  }
}
/*
.logo-text:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  height: 1.875rem;
  width: 1.875rem;
  background-color: #ed8936;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77.2 77.2'%3E%3Cpath fill='%23fff' d='M64.4 25.7H51.5v12.9c0 7.1-5.8 12.9-12.9 12.9-7.1 0-12.9-5.8-12.9-12.9v-8.4l12.9-4.5 12.9-4.5v-8.4c0-7-5.8-12.8-12.9-12.8-7.1 0-12.9 5.8-12.9 12.9v12.9H12.9C5.8 25.7 0 31.5 0 38.6c0 7.1 5.8 12.9 12.9 12.9h12.9v12.9c0 7.1 5.8 12.9 12.9 12.9 7.1 0 12.9-5.8 12.9-12.9V51.5h12.9c7.1 0 12.9-5.8 12.9-12.9-.2-7.1-6-12.9-13-12.9z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1.25rem;
  border-radius: 100%;
  transform: translateY(-50%);
} */
/* @media (min-width: 52em) {
  .logo-text:after {
    height: 2.5rem;
    width: 2.5rem;
    background-size: 1.75rem;
  }
} */
.logo-text-secondary {
  margin-left: -0.25rem;
  font-weight: 700;
  color: inherit;
}

.header-cta {
  display: none;
  align-items: center;
  font-family: Yantramanav, System, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  color: #fff;
}

@media (min-width: 52em) {
  .header-cta {
    display: flex;
  }
}

.header-cta-text-box {
  margin-right: 1rem;
  text-align: right;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.125);
  padding-right: 1rem;
}
.header-cta-text {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1;
}
.header-cta-phone-number {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  text-decoration: none;
  color: #fff;
}
.header-cta-icon {
  height: auto;
  width: 1.125rem;
  margin-right: 0.25rem;
}
.header-cta-icon path {
  fill: #fff;
}
.header-cta-disclosure {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8125rem;
  line-height: 1;
  text-decoration: none;
  outline: none;
}
.header-cta-disclosure .fa {
  margin-right: 0.25rem;
}

/* --Navigation-- */
.navigation {
  position: relative;
  display: flex;
  height: 56px;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 0.875rem;
  list-style-type: none;
  background-color: #ededed;
}

@media (min-width: 52em) {
  .navigation {
    position: relative;
    display: flex;
    height: 64px;
    height: 4rem;
    width: auto;
    justify-content: space-between;
    font-size: 1.125rem;
  }
}

.navigation-menu {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  max-width: 76rem;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  order: 2;
  list-style: none;
}

@media (min-width: 52em) {
  .navigation-menu {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    align-items: stretch;
    order: 1;
  }
}

.navigation-item {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  flex-wrap: wrap;
  align-items: stretch;
  color: #085177;
}

.navigation-item:active,
.navigation-item:focus,
.navigation-item:hover {
  background-color: #085177;
  color: #fefefe;
}

.navigation-item:hover {
  transition: all 0.25s ease;
}

.navigation-item:first-child .navigation-item-link:before,
.navigation-item:last-child .navigation-item-link:after {
  display: none;
  transform: translateY(-50%);
}

@media (min-width: 52em) {
  .navigation-item:first-child .navigation-item-link:before,
  .navigation-item:last-child .navigation-item-link:after {
    display: block;
  }
}

@media (max-width: 52em) {
  .navigation-item:nth-last-child(2) .navigation-item-link:after {
    display: none;
  }
}

.icon-menu-item {
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 1.5rem;
}
.icon-menu-item path {
  fill: #127eba;
}
@media (min-width: 52em) {
  .icon-menu-item {
    margin-right: 0.25rem;
    margin-left: 0;
  }
}
/* @media (min-width: 52em) {
  .icon-addiction,
  .icon-information,
  .icon-news,
  .icon-treatment {
    display: none;
  }
} */
.navigation-item-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  font-size: 0.85em;
  line-height: 1;
}

.navigation-item-link {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 0.5rem 0.25rem;
  width: 100%;
  align-items: center;
  flex: 1 1 0%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: inherit;
}

@media (min-width: 52em) {
  .navigation-item-link {
    padding: 0.75rem 0.5rem;
  }
}

.navigation-item-link:after,
.navigation-item-link:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  height: 32px;
  height: 2rem;
  width: 1px;
  width: 0.0625rem;
  background-color: #085177;
  transform: translateY(-50%);
}

@media (min-width: 52em) {
  .navigation-item-link:after,
  .navigation-item-link:before {
    height: 16px;
    height: 1rem;
  }
}

.navigation-item-link:before {
  left: 0;
  transform: translate(-0.03125rem, -50%);
}

.navigation-item-link:after {
  right: 0;
  transform: translate(0.5px, -50%);
  transform: translate(0.03125rem, -50%);
}

.navigation-item-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  font-size: 0.85em;
  line-height: 1;
}

@media (min-width: 52em) {
  .navigation-item-text {
    margin-top: 0;
    width: auto;
    font-size: 1em;
    line-height: inherit;
  }
}

.fa-angle-down:before {
  content: "\F107";
}
[class*=" fa"]:before,
[class^="fa"]:before {
  font-family: FontAwesome !important;
}

.navigation-item-link .navigation-item-toggle {
  display: none;
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  border: 0;
  background: transparent;
  color: inherit;
}
@media (min-width: 52em) {
  .navigation-item-link .navigation-item-toggle {
    display: block;
    margin: 0 0 0 0.25rem;
  }
}

[id="nav-item-search"] {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 100%;
  left: auto;
  display: flex;
  height: 100%;
}

@media (min-width: 52em) {
  [id="nav-item-search"] {
    position: static;
    display: flex;
    height: auto;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link {
    padding: 0;
    width: 75px;
    width: 4.6875rem;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link:after,
  [id="nav-item-search"] .navigation-item-link:before,
  [id="nav-item-search"] .navigation-item-text {
    display: none;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link:after,
  [id="nav-item-search"] .navigation-item-link:before,
  [id="nav-item-search"] .navigation-item-text {
    display: none;
  }
}

/*Newsletter part ==========================================*/
#content {
  padding-top: 6.625rem;
}
@media (min-width: 52em) {
  #content {
    padding-top: 10rem;
  }
}
.newsalert {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0.75rem 0;
  background-color: #8fe2f4;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  color: #03324a;
}
@media (min-width: 52em) {
  .newsalert {
    padding: 1.25rem 0;
  }
}

.newsalert .newsalert-message {
  display: flex;
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 0.75rem;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-size: 0.875rem;
  line-height: 1;
  text-align: left;
}
@media (min-width: 52em) {
  .newsalert .newsalert-message {
    padding: 0 1rem;
    font-size: 1.125rem;
    text-align: center;
  }
}
.newsalert-message .newsalert-message-prefix {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}
@media (min-width: 52em) {
  .newsalert-message .newsalert-message-prefix {
    display: inline-block;
    font-size: 1.125rem;
  }
}
.newsalert-icon {
  height: auto;
  margin-right: 0.5rem;
  min-width: 1.5625rem;
  width: 1.5625rem;
}
@media (min-width: 52em) {
  .newsalert-icon {
    min-width: 1.875rem;
    width: 1.875rem;
  }
}
.newsalert-icon .newsalert-icon-color-2 {
  fill: #085177;
}
.newsalert-icon .newsalert-icon-color-1 {
  fill: #75b9e2;
}
.newsalert-icon .newsalert-icon-color-3 {
  fill: #fefefe;
}
.newsalert-message-content {
  margin-right: 0.5rem;
}
@media (min-width: 52em) {
  .newsalert-message-content {
    margin-right: 1rem;
  }
}
.newsalert-message-prefix {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.newsalert-btn {
  max-width: 7.8125rem;
  width: 100%;
  padding: 0.5rem 0.3rem;
  font-size: 0.75rem;
}
@media (min-width: 40em) {
  .newsalert-btn {
    max-width: 14.0625rem;
  }
}
@media (min-width: 52em) {
  .newsalert-btn {
    max-width: 15.625rem;
    padding: 0.65rem 1rem;
    font-size: 0.875rem;
  }
}

/*-----------------Hero -------------------------*/

.hero {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #08293c;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .photo {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #b3b3bb;
  border-radius: 0.125rem;
}
.hero .photo > img {
  display: block;
  height: 100%;
  width: 100%;
  font-family: "object-fit:cover";
  object-fit: cover;
  pointer-events: none;
}
.hero .photo:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
  background-color: #127eba;
  opacity: 0.5;
}

.hero > .container {
  z-index: 1;
  max-width: 64rem;
  padding: 6rem 0 0;
  width: 100%;
  flex-direction: column;
  flex: 1 auto;
}
@media (min-width: 52em) {
  .hero > .container {
    padding: 10rem 0 0;
  }
}

.hero,
.hero > .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  margin: 0 0 1rem;
  max-width: 48rem;
  padding: 0 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fefefe;
}
@media (min-width: 40em) {
  .hero-title {
    margin: 0 0 2rem;
    padding: 0;
    font-size: 3rem;
  }
}
.hero-subtitle {
  margin: 0;
  max-width: 48rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #fefefe;
}
@media (min-width: 52em) {
  .hero-subtitle {
    padding: 0;
  }
}
@media (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}
@media (min-width: 52em) {
  .md-hide {
    display: none !important;
  }
}
.split-cta-hero {
  position: static;
  z-index: 1;
  margin: 6rem auto 0;
  border-radius: 0;
}

@media (min-width: 52em) {
  .split-cta-hero {
    margin: 10rem auto -3rem;
    max-width: 60.5rem;
    width: 100vw;
    border-radius: 0.25rem;
  }
}
.split-cta {
  display: flex;
  max-width: 60.5rem;
  padding: 1.5rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  background-color: #fefefe;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  color: #1f1f1f;
}

@media (min-width: 52em) {
  .split-cta {
    padding: 1.5rem 3rem;
    flex-direction: row;
  }
}
.split-cta-heading {
  margin-bottom: 1.5rem;
  width: 100%;
  font-family: Domine, System, serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media (min-width: 52em) {
  .split-cta-heading {
    font-size: 1.5rem;
  }
}
.split-cta-form,
.split-cta-left,
.split-cta-left .btn {
  width: 100%;
}
@media (min-width: 52em) {
  .split-cta-form,
  .split-cta-left {
    width: 45%;
  }
}
.split-cta-left {
  margin-bottom: 0;
}
.split-cta-label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.03125rem;
  text-align: center;
}

.split-cta-or {
  margin-bottom: 0;
  padding: 1rem 0;
  width: 100%;
  font-family: Domine, System, serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 52em) {
  .split-cta-or {
    padding: 0;
    width: 10%;
    transform: translateY(0.75rem);
  }
}
.form-horizontal {
  display: flex;
  justify-content: center;
  max-width: 23.4375rem;
}
.form {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.form-horizontal .form-input,
.form-horizontal .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
  border-radius: 0 0.25rem 0.25rem 0;
}
.form-input,
.form-textarea,
.form-select {
  display: block;
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 0.75rem;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  background-color: #fefefe;
  border: 0.0625rem solid #b3b3bb;
  color: #707070;
}
/* News cta==========================================*/
.news-cta {
  display: block;
  background: linear-gradient(#127eba, #127eba 50%, #5fbae7 0, #5fbae7);
  color: #fefefe;
}
@media (min-width: 52em) {
  .news-cta {
    background: linear-gradient(
      90deg,
      #127eba,
      #127eba 50%,
      #5fbae7 0,
      #5fbae7
    );
  }
}
.news-cta > .container {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
}
.news-cta-left {
  padding: 1rem 1rem 3rem;
  width: 100%;
  background-color: #127eba;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
@media (min-width: 52em) {
  .news-cta-left {
    padding: 6rem 6rem 6rem 1rem;
    width: 65%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}
.news-cta-left h1 {
  color: #fefefe;
}
.news-cta-right {
  width: 100%;
  text-align: center;
  padding: 3rem 1rem;
}

.news-cta-right .btn {
  padding: 0.75rem 5rem;
  color: #fefefe;
}
@media (min-width: 40em) {
  .news-cta-right .btn {
    padding: 0.75rem 4rem;
  }
}

@media (min-width: 52em) {
  .news-cta-right {
    width: 30%;
    padding: 1rem 1rem 0 6rem;
  }
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.news-cta-right .btn:hover {
  color: #fefefe;
  border: 0.0625rem solid #085177;
  background-color: #085177;
}

.home-section {
  position: relative;
  padding: 3.75rem 0;
  background-color: #fefefe;
}
.section-map {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 0;
  background-color: #085177;
  color: #fefefe;
}
@media (min-width: 52em) {
  .section-map {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: left;
  }
}

.USMap {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 0;
  height: auto;
  margin: 0 auto;
  max-width: 64rem;
  width: 85%;
  opacity: 0.1;
  transform: translateX(-50%);
}
.USMap .USMap__markers path {
  fill: #085177;
}
.section-map .container {
  z-index: 2;
}
.section-map-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 52em) {
  .section-map-text {
    margin-bottom: 4rem;
    width: 50%;
  }
}

.states {
  padding-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 52em) {
  .states {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 0;
  }
}
.state-links {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.state-links > li {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 50%;
}
@media (min-width: 40em) {
  .state-links > li {
    width: 33.33333%;
  }
}
@media (min-width: 52em) {
  .state-links > li {
    width: 25%;
  }
}
@media (min-width: 64em) {
  .state-links > li {
    width: 20%;
  }
}
.state-links > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.25s ease;
}
.state-links > li > a .fa {
  transition: transform 0.15s ease;
}

/* Featured section*/
.section-featured {
  position: relative;
  padding: 1rem 0 0;
  background-color: #fefefe;
}
