.hero {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #08293c;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .photo {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #b3b3bb;
  border-radius: 0.125rem;
}
.hero .photo > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}
.hero .photo:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
  background-color: #127eba;
  opacity: 0.5;
}
